body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }

  .section1, .section2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff; /* Ajustado el color del texto para mejor legibilidad */
  }

  .section1 {
    background-image: url('sara.jpeg');
    background-size: cover;
    background-position: center;
  }

  .section1 h1 {
      font-family: 'Monotype Corsiva', cursive;
      font-size: 3em;
  }

  .section1 p {
    font-family: 'ClockFont', sans-serif;
    font-size: 1.5em;
  }

  .section2 {
    color: #000;
  }

  .countdown-container {
    width: 90%; /* Modificado el ancho para mejor adaptación */
    max-width: 450px; /* Añadido el ancho máximo */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px; /* Añadido margen inferior */
  }

  .countdown-item {
    font-size: 1.5em;
  }

  .countdown-number {
    font-weight: bold;
  }

  h1 {
    font-family: 'Monotype Corsiva', cursive;
    font-size: 2em;
    margin-bottom: 10px;
  }