.photo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto; /* Ajustado para mejor adaptación */
    margin: 0;
    flex-wrap: wrap; /* Añadido para que las fotos se envuelvan en pantallas más pequeñas */
  }

 
  .photo-container {
      position: relative;
      width: 100px;
      height: 150px; 
      margin: 20px;
      border: 1px solid #aeadad;
      overflow: hidden;
      background-color: #fff;     
  }

  .photo-container img {
      padding: 10px;
      width: 80%;
      height: auto;
      max-height: 80%;
      object-fit: cover;
      transform-origin: 0 0;

  }
  @-webkit-keyframes bg-pan-tr {
    0% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
  @keyframes bg-pan-tr {
    0% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
  
  
  .photo-container .text-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 10px;
  }

  .photo-container.angle-1 {
    transform: rotate(-10deg);
  }

  .photo-container.angle-2 {
    transform: rotate(10deg);
  }

  .photo-container.angle-3 {
    transform: rotate(-6deg);
  }
  a{
      font-family: 'Courier New', Courier, monospace;
      text-decoration: none;
      color: #3c0058;
  }
