@import url();
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
section{
    height: 400vh;
    overflow: hidden;
   background: rgb(0, 0, 0);
}
p{
    position: relative;
    font-size: 1.5em;
    letter-spacing: -0.05em;
    line-height: 0.7em;
    background: url(png-transparent-balloon-heart-graphy-love-background-love-heart-balloon-thumbnail-removebg-preview.png),url(png-transparent-balloon-heart-graphy-love-background-love-heart-balloon-thumbnail-removebg-preview.png);
    background-blend-mode:color-dodge;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
}